PORT=3000
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/bildyapp

JWT_SECRET=

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SLACK_WEBHOOK_URL=